.field input {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  width: 30%;
  margin-top: 30px;
}

h2 {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.links {
  margin-top: 10px;
  line-height: 1.7rem;
}

a {
  text-decoration: none;
  color: #7e7777;
}

.log-in-footer :nth-child(5) {
  display: none;
}
